/* Stylesheet for MeLibraries.ca */
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		background-image:url('images/JOIN_FREE_SHOW_BG.png');
		background-color:#33ACDA;
	}

/*	
	@font-face {
		font-family: 'Asap';
		src: url('fonts/Asap-Regular.otf');
	}
*/
	a {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		text-decoration:none;
	}	

	
	a.main {
		color:white;
	}
	

	a:hover {
		text-decoration:underline;
	}
	
	a:visited {
		color:#2E7894;
	}
	
	img {
		border:none;
	}
	
	p {
		margin-top:5px;
		margin-bottom:5px;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
	}

	ul {
		margin-top:5px;
		margin-bottom:10px;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
	}

	.centered {
		display:block;
		margin:0 auto;
	}

	.hidden {
		display:none;
	}
	
	#spacer {
		height:50px;
		clear:both;
	}
	
	#formDiv {
		background-image:url('images/alpha-70.png');
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		width:340px;
		position:relative;
	}

	
	h1 {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-size:34px;
		font-weight:bold;
		margin-top:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
	
	
	h2 {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-size:28px;
		font-weight:bold;
		margin-top:0px;
		margin-bottom:0px;
		margin-top:20px;
	}

	
	h3 {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-size:20px;
		font-weight:bold;
		margin-top:25px;
		margin-bottom:10px;
		
	}

	
	td h3 {
		margin-top:0px;
		margin-bottom: 20px;
	}
	
	label {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
	}
	
	.login {
		font-size:18px;
		display:block;
		margin-bottom:2px;
	}
	
	.error {
		font-size:16px;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		color:red;
		text-align:left;
		display:none;
	}
	
	
	.formItem {
		margin:0 auto;
		margin-bottom:12px;
		width:276px;
	}
	
	input.rounded {
		background-color:rgba(255, 255, 255, 0.8);
		border: 1px solid black;
		padding:5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		/*No more shadows
		-webkit-box-shadow: 
		  inset 0 0 8px  rgba(0,0,0,0.2),
				0 0 16px rgba(0,0,0,0.2); 
		-moz-box-shadow: 
		  inset 0 0 8px  rgba(0,0,0,0.2),
				0 0 16px rgba(0,0,0,0.2); 
		box-shadow: 
		  inset 0 0 8px  rgba(0,0,0,0.2),
				0 0 16px rgba(0,0,0,0.2);*/

		font-size:16px;
		
		width:100%;
	}
	
	.button {
		/*-webkit-box-shadow: 0px 0px 13px rgba(20, 20, 20, 0.5);
		-moz-box-shadow:    0px 0px 13px rgba(20, 20, 20, 0.5);
		box-shadow:         0px 0px 13px rgba(20, 20, 20, 0.5);*/
		text-align:center;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color:#33ACDA;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size:18px;		
		padding:2px 80px;
		color:#DDD;
		text-decoration:none;
		border:1px solid black;
		
	}

	.buttonlike {
		/*-webkit-box-shadow: 0px 0px 13px rgba(20, 20, 20, 0.5);
		-moz-box-shadow:    0px 0px 13px rgba(20, 20, 20, 0.5);
		box-shadow:         0px 0px 13px rgba(20, 20, 20, 0.5);*/
		text-align:center;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color:#33ACDA;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-size:18px;		
		padding:6px 1px;
		color:#DDD;
		text-decoration:none;
		border:1px solid black;
		
	}

	
	
	.button:hover {
		color:white;
		text-decoration:none;
		-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.6);
		-moz-box-shadow:    0px 0px 13px rgba(0, 0, 0, 0.6);
		box-shadow:         0px 0px 13px rgba(0, 0, 0, 0.6);		
	}

	.enter {
		padding:1px 0px;
		width:150px;
		display:block;
		margin:0 auto;
	}
	
	.deadButton {
		text-align:center;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color:#C4C4C4 ;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size:18px;		
		padding:2px 20px;
		color:#E4E4E4;
		text-decoration:none;
		border:1px solid #AAAAAA;
		
	}	
	

	.footer {
		position:fixed;
		bottom:0;
		left:0;
		right:0;
		background-color:black;
		color:#CCC;
		padding:10px 8px 8px 15px;
		border-top:3px solid white;
	}

	
	.footerText {
		float:left;
		font-size:14px;
		margin-top:6px;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
	}
	
	.footerText a {
		color:#FFF;
		text-decoration:none;
	}
	
	.footerText a:hover {
		color:#FFF;
		text-decoration:underline;
	}
	
	#footerLogo {
		height:31px;
		float:right;"
	}
	
	#meInfo {
		background-image:url('images/alpha-70.png');
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		padding:10px 20px;
		text-align:center;
	}
	
	.mainContent {
		position:relative;
		background-color:white;
		margin-left:8%;
		margin-right:8%;
		height:100%;
	}
	
	.subContent {
		margin:25px 20px 10px 40px;
	}
	.pageTitle {
		position:absolute;
		right:21px;
		left:202px;
		top:21px;
		color:white;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		font-size:46px;
		background-color:#33ACDA;
		font-weight:normal;
		float:right;
		padding:20px;
		margin:0 0 0 0px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;	

	}

/*
	.purple {
		color:#AE2573;	
	}	
	.purplebg {
		background-color:#AE2573;	
	}

	.blue {
		color:#0033A0;	
	}	
	.bluebg {
		background-color:#0033A0;	
	}	
	
	.green {
		color:#009775;
	}
	.greenbg {
		background-color:#009775;
	}
*/	
	#meLogoTop {
		width:160px;
		height:59px;
		margin-left:21px;
		margin-top:36px;
		border:none;
	}
	
	
	.personalInfo {
		color:black;
		font-weight:normal;
		margin-top:20px;
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
	}
	
	.personalInfo th {
		color:black;
		text-align:left;
		padding-right:10px;
	}
	
	.libCaption {
		font-family:Helvetica Neue LT Std, Helvetica, Arial, sans-serif;
		text-align:center;
	}
	
	.libTable td {
		padding:25px;
		/*padding-right:25px;*/
	}
	
	a.terms {Ho
		color:#0033A0;
		margin:0 auto;
		text-align:left;
		margin-top:20px;
		display:block;
	}
	
	a.join {
		padding-left:20px;
		padding-right:20px;
	}

	a.update {
		padding-left:20px;
		padding-right:20px;
		margin:0 10px 0 10px;
	}

	#backCurtain {
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-image:url('images/alpha-black-30.png');
		display:none;
	}
	
	#loadSpinner {
		width:126px;
		/*height:22px;*/
		display:none;
		vertical-align:middle;
	}
	
	.loadSpinner {
		/*margin-left:10px;*/
		display:none;
	}
	
	.loadSpinner img {
		vertical-align:top;
	}
	
	#enterText {
		display:block;
		padding:1px;
	}
	
	.debug {
		display:none;
		word-wrap:break-word;
		color:#777;
	}
	
	.small {
		display:block;
		margin-top:10px;
		font-size:12px;
	}
	
	#agree {
		margin-left:10px;
	}
	
	
	.question:before {
		content:"Q: ";	
		font-weight:bold;
		color: #E50B8D;
		font-family:Arial, Helvetica, sans-serif;
		
	}
	
	.question {
		font-weight:bold;
		display:block;
		margin-bottom:15px;
		font-family:Arial, Helvetica, sans-serif;
		
	}

	.answer:before {
		content:"A: ";
		font-weight:bold;
		color:#33ACDA;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	.answer {
		display:block;
		margin-bottom:30px;
		font-family:Arial, Helvetica, sans-serif;

	}

	.mainbox {
		float:right;
		right:-50%;
		margin:10px;
		position:relative;
	
	}
	
	.mainbox h2 {
		margin-top:0px;
	}

	.pin {
		font-weight:bold;
		font-size: 20px;
	}
	
	.libMessage { /*response from library after the pin, if any*/
		display:block;
		font-style:italic;
		margin-top:20px;
	}
	
	ul.columns {
	float:left;
	font-size:14px;
	margin-top:0;
	}